.calculator-button {
	border: 1px outset blue;
	background-color: lightBlue;
	height: 60px;
	width: 60px;
	cursor: pointer;
}

.calculator-button:hover {
	background-color: blue;
	color: white;
}

.display {
	margin-bottom: 10px;
}